// sass --watch main.scss:main.css
$maincolor: #000000;
body {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    position: relative;
    width: 100%;
    padding: 0px;
    .imageContainer {
        height: auto;
        max-height: 900px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}

//                  HEADER                    //
.overlay {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 0px;
    transition: 1.5s ease;
}

.overlay-active {
    bottom: 0;
    height: 150px;
    transition: 1s ease;
    #text {
        a {
            text-align: center;
            padding: 0px;
            list-style: none;
            display: inline-block;
            margin: 0 14px;
            font-size: 0.9em;
            text-decoration: none;
            color: white;
        }
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: gray; // opacity: 0.8;
    height: 100px;
    z-index: 10000;
}

//                  MAIN                    //
.mainSection {
    text-align: center;
    p {
        margin-top: 20px;
    }
    ul {
        width: 50%;
        margin: 0 auto;
        text-align: left;
    }
}

//                  PRODUCTS                    //
.selection {
    width: 90%;
    margin: 0 auto 50px auto;
    h1 {
        text-align: center;
        margin-bottom: 40px;
    }
    #mainProducts {
        width: 100%;
        margin: 0 auto;
    }
    .Item {
        width: 15%;
        display: inline-block;
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px; // height: 300px;
        overflow: hidden; // border: 1px solid black;
        img {
            width: 100%;
            border-radius: 8px; // min-width: 200px;
            opacity: 1;
            display: block;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    .additionalProducts {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        .Item {
            margin: 0 auto;
        }
    }
}

//                  GENERAL                    //
.Item:hover img {
    opacity: 0.3;
}

.Item:hover .middle {
    opacity: 1;
}