body {
  width: 100%;
  min-width: 270px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }

.container-fluid {
  position: relative;
  width: 100%;
  padding: 0px; }
  .container-fluid .imageContainer {
    height: auto;
    max-height: 650px;
    position: relative; }
    .container-fluid .imageContainer #slides {
      width: 100%;
      max-height: 650px; }

.imgOne {
  background: url("./photos/slike/moleculesps.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover;
  background-position: center 45%; }
  @media screen and (max-width: 856px) {
    .imgOne {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .imgOne {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .imgOne {
      min-height: 300px;
      height: auto; } }

.imgTwo {
  background: url("./photos/slike/legos.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover;
  background-position: center 75%; }
  @media screen and (max-width: 856px) {
    .imgTwo {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .imgTwo {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .imgTwo {
      min-height: 300px;
      height: auto; } }

.imgThree {
  background: url("./photos/slike/peach.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover; }
  @media screen and (max-width: 856px) {
    .imgThree {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .imgThree {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .imgThree {
      min-height: 300px;
      height: auto; } }

.imgFour {
  background: url("./photos/slike/flower.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover; }
  @media screen and (max-width: 856px) {
    .imgFour {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .imgFour {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .imgFour {
      min-height: 300px;
      height: auto; } }

.imgFive {
  background: url("./photos/slike/textile.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover;
  background-position: center 60%; }
  @media screen and (max-width: 856px) {
    .imgFive {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .imgFive {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .imgFive {
      min-height: 300px;
      height: auto; } }

.imgSix {
  background: url("./photos/house.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover; }
  @media screen and (max-width: 856px) {
    .imgSix {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .imgSix {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .imgSix {
      min-height: 300px;
      height: auto; } }

.imgSeven {
  background: url("./photos/house.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover; }
  @media screen and (max-width: 856px) {
    .imgSeven {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .imgSeven {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .imgSeven {
      min-height: 300px;
      height: auto; } }

.carousel-indicators {
  position: relative;
  z-index: 1;
  bottom: 0px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle; }
  .carousel-indicators :nth-child(1) {
    border-radius: 0px 0px 0px 7px; }
  .carousel-indicators :last-child {
    border-radius: 0px 0px 7px 0px; }
  .carousel-indicators li {
    background-color: white;
    height: 60px;
    width: 150px;
    color: black;
    font-size: 13px;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 7px;
    box-sizing: border-box;
    z-index: 1; }
  @media screen and (max-width: 768px) {
    .carousel-indicators {
      height: 50px;
      margin-top: 20px;
      z-index: 1; }
      .carousel-indicators li {
        height: 20px;
        padding: 0px;
        text-indent: -1999px;
        width: 20px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: gray;
        z-index: 1; }
      .carousel-indicators :nth-of-type(1) {
        border-radius: 50%; }
      .carousel-indicators :nth-of-type(7) {
        border-radius: 50%; } }

.carousel-indicators .active {
  background-color: #fd1c15;
  color: white; }

.die {
  display: none !important; }

.overlay {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 0px;
  transition: 1.5s ease; }
  .overlay a img {
    width: 50px;
    height: 50px; }
  .overlay a .logoText {
    position: absolute;
    width: 0px;
    height: 50px; }
  .overlay a .logoText-active {
    width: 140px;
    transition: 1s ease; }
  .overlay i {
    display: none; }

.overlay-active {
  bottom: 0;
  height: 150px;
  transition: 1s ease; }
  .overlay-active #text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    .overlay-active #text div {
      display: inline-block; }
    .overlay-active #text a {
      text-align: center;
      padding: 5px 0px 5px 0px;
      list-style: none;
      display: inline-block;
      margin: 0 14px;
      font-size: 0.9em;
      text-decoration: none;
      color: white;
      vertical-align: middle;
      z-index: 100; }
    .overlay-active #text .options {
      display: inline-block;
      margin-left: 160px;
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #ececec;
      z-index: 100; }

@media screen and (max-width: 960px) {
  .overlay #text {
    width: 100%; }
    .overlay #text div {
      float: none;
      display: block; }
    .overlay #text a {
      float: none; }
    .overlay #text .options {
      width: 0px;
      margin: 0px;
      z-index: 1000; }
      .overlay #text .options a {
        display: none; }
    .overlay #text .options-responsive {
      position: absolute;
      top: 75px;
      display: block;
      width: 100%;
      text-align: center;
      float: none;
      margin: 0px !important;
      transition: 1s ease;
      z-index: 10000; }
      .overlay #text .options-responsive a {
        display: block;
        width: 100%;
        margin: 0px;
        padding: 15px 0px;
        background-color: #272727;
        opacity: 0.8;
        box-sizing: border-box; }
    .overlay #text #target {
      display: inline-block;
      position: absolute;
      right: 5;
      top: 5;
      vertical-align: middle;
      font-size: 1.7em;
      border: 1px solid white;
      padding: 3px 8px;
      border-radius: 3px; } }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #272727;
  opacity: 0.8;
  height: 100px;
  z-index: 10000; }

.optionsBorder {
  border: 0px !important; }

.mainSection {
  text-align: center; }
  .mainSection p {
    margin-top: 20px; }
  .mainSection ul {
    width: 50%;
    margin: 0 auto;
    text-align: left; }

#newsCover {
  background: url("./photos/background-dark.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  #newsCover h1, #newsCover h2 {
    color: white; }

#feed {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 30px; }
  #feed .newsDiv {
    width: 48%;
    height: 400px;
    overflow: hidden;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(219, 219, 219, 0.8);
    border-radius: 3px;
    box-sizing: border-box; }
    #feed .newsDiv .dateSpan {
      text-align: left;
      color: #fd1c15; }
    #feed .newsDiv p {
      text-align: left;
      width: 100%; }
    @media screen and (max-width: 856px) {
      #feed .newsDiv {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px; } }
  @media screen and (max-width: 856px) {
    #feed {
      width: 100%;
      display: block; } }

.productCover {
  background: url("./photos/slike/machanisation.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 856px) {
    .productCover {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .productCover {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .productCover {
      min-height: 300px;
      height: auto; } }

.selection {
  width: 90%;
  margin: 0 auto 50px auto; }
  .selection h1 {
    text-align: center;
    margin-bottom: 40px; }
  .selection #mainProducts {
    width: 100%;
    margin: 0 auto; }
  .selection .Item {
    width: 15%;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden; }
    .selection .Item img {
      width: 100%;
      border-radius: 8px;
      opacity: 1;
      display: block;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden; }
    .selection .Item .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
  .selection .additionalProducts {
    width: 100%;
    text-align: center;
    margin: 0 auto; }
    .selection .additionalProducts .Item {
      margin: 0 auto; }

.overlay #text .options .catalogue {
  display: none;
  background-color: rgba(155, 155, 155, 0.7);
  width: 709px;
  height: auto;
  position: absolute;
  top: 50px;
  right: 0px;
  box-sizing: content-box;
  transition: 0.5s ease; }
  .overlay #text .options .catalogue ul {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 856px) {
      .overlay #text .options .catalogue ul {
        position: absolute;
        width: 100% !important;
        padding: 0px;
        display: block;
        top: 178px;
        height: auto; }
        .overlay #text .options .catalogue ul a {
          color: white !important; } }
  .overlay #text .options .catalogue .productList {
    display: block;
    text-align: center;
    font-size: 0.9rem; }
    .overlay #text .options .catalogue .productList a {
      color: #2e2e2e;
      padding: 7px 0px 7px 0px; }

.triggerDrop {
  margin-bottom: 207px !important; }

.show {
  display: block !important; }
  .show a {
    width: 100px; }
  .show :last-child {
    border-bottom: 1px solid white; }
  @media screen and (max-width: 856px) {
    .show {
      position: absolute;
      width: 100% !important;
      display: block; } }

.redBorder {
  border-bottom: 1px solid red !important; }

.dropSpace {
  top: 50px !important; }

.cataloguePhoto {
  width: calc(100% - 40% - 20px);
  padding: 10px;
  vertical-align: initial; }

#output {
  position: relative;
  color: white;
  box-shadow: inset 200px 200px 20px 1000px rgba(31, 31, 31, 0.8);
  background-image: url("./photos/slike/cookie.jpg");
  background-position: center center;
  background-size: cover;
  height: auto; }
  #output h1 {
    position: relative;
    color: white;
    padding-top: 30px;
    margin: 0px; }
  #output a {
    color: white; }
  #output .subProductDiv {
    display: flex;
    padding: 10px 0px 0px 0px;
    justify-content: center; }
    #output .subProductDiv .subGroups {
      padding: 15px;
      margin: 20px 0px 20px 0px; }
    #output .subProductDiv .subGroupsActive {
      border-bottom: 1px solid #fd1c15;
      padding-bottom: 5px; }
  #output .productListDiv {
    padding: 15px;
    margin: 0px 0px 20px 80px; }
    #output .productListDiv div {
      padding: 15px;
      margin: 20px 0px 20px 0px;
      border: 1px white solid;
      width: 550px;
      border-radius: 0px 40px 40px 0px; }
    #output .productListDiv i {
      float: right;
      vertical-align: middle;
      font-size: 1.5rem; }

.mainContainer {
  display: flex;
  justify-content: center; }

.mainList {
  padding: 20px;
  border: 1px solid rgba(116, 116, 116, 0.8);
  background-color: rgba(116, 116, 116, 0.8);
  margin: 20px 3px 0px 3px;
  width: auto;
  min-width: 160px;
  text-align: center;
  border-radius: 5px 5px 0px 0px; }
  .mainList a {
    color: white;
    text-decoration: unset; }

.mainListActive {
  border: 1px solid #c8232c;
  background-color: #c8232c; }

h1 {
  text-align: center;
  margin-top: 20px; }

.aboutText {
  width: 80%;
  margin: 150px auto; }

.aboutCover {
  background: url("./photos/slike/aboutPageps.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover;
  background-position: center bottom; }
  @media screen and (max-width: 856px) {
    .aboutCover {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .aboutCover {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .aboutCover {
      min-height: 300px;
      height: auto; } }

h1 {
  margin-top: 100px; }

.partnersCover {
  background: url("./photos/slike/partners.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover;
  background-position: center bottom; }
  @media screen and (max-width: 856px) {
    .partnersCover {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .partnersCover {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .partnersCover {
      min-height: 300px;
      height: auto; } }

.partners {
  margin-top: 50px; }
  .partners .partnerWrap {
    width: 100%;
    background-color: white; }
  .partners .row {
    width: 70%;
    margin: 0 auto 30px auto; }
  .partners .loufakisDiv {
    display: flex; }
  .partners .alignImage {
    display: flex;
    height: 100%; }
  .partners img {
    max-width: 400px;
    margin: auto; }
  .partners p {
    margin: 20px; }

.imageContainer {
  max-height: 400px; }

.contactCover {
  background: url("./photos/slike/road.jpg");
  height: 650px;
  background-position: center center;
  width: 100%;
  background-size: cover; }
  @media screen and (max-width: 856px) {
    .contactCover {
      min-height: 500px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .contactCover {
      min-height: 400px;
      height: auto; } }
  @media screen and (max-width: 576px) {
    .contactCover {
      min-height: 300px;
      height: auto; } }

.locations {
  width: 90%;
  text-align: center;
  margin: 0 auto; }

.footer {
  background-color: rgba(163, 163, 163, 0.56);
  margin-top: 90px;
  border-radius: 85% 85% 0 0 / 30%; }
  .footer .row {
    margin: 0px; }

.footImage {
  width: 100%;
  height: 100px;
  text-align: center;
  position: relative; }
  .footImage img {
    width: auto;
    max-width: 280px;
    margin-top: 10px; }

.iconPic {
  width: 80px;
  height: 80px;
  display: none; }

@media screen and (max-width: 856px) {
  .footImage img {
    display: none; }

  #iconPic {
    display: inline-block; } }
.footImage::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(33% - 30px);
  top: 50%;
  height: 1px;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  left: 20;
  background-color: black;
  text-align: center; }

.footImage::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(33% - 30px);
  top: 50%;
  height: 1px;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  right: 20;
  background-color: black;
  text-align: center; }

.verticalLine {
  text-align: center;
  position: relative;
  padding: 0px;
  padding-top: 10.5rem;
  margin-top: 20px; }

.verticalLine::before {
  content: '';
  position: absolute;
  top: 2px;
  width: 1px;
  height: 9.5rem;
  background-color: black; }

.footerLinks {
  text-align: center;
  padding: 0px; }
  .footerLinks a {
    color: black;
    font-size: 1rem;
    line-height: 19px; }
  .footerLinks ul {
    list-style-type: none; }
    .footerLinks ul li {
      margin: 4px 0px; }

.footerContacts {
  box-sizing: border-box;
  padding: 0px; }
  .footerContacts i {
    padding-right: 7px; }
  .footerContacts p {
    font-size: 0.7rem;
    margin-bottom: 4px; }
  .footerContacts div {
    width: 100%;
    margin: 0 auto; }
  .footerContacts h6 {
    text-align: left;
    text-indent: 20px; }
  .footerContacts h6:last-of-type {
    margin-top: 20px; }

.Copyright {
  text-align: center; }

.Item:hover img {
  opacity: 0.3; }

.Item:hover .middle {
  opacity: 1; }

#productTrigger:hover {
  cursor: pointer; }

a {
  text-decoration: unset; }

.logoHRWhite {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px; }
  .logoHRWhite img {
    width: auto;
    max-width: 30px; }

.logoHR {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px; }
  .logoHR img {
    width: auto;
    max-width: 30px; }

.logoHR::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(10% - 30px);
  top: 50%;
  height: 1px;
  background-color: black;
  text-align: center;
  left: 40%; }

.logoHR::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(10% - 30px);
  top: 50%;
  height: 1px;
  background-color: black;
  text-align: center;
  right: 40%; }

.logoHRWhite::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(10% - 30px);
  top: 50%;
  height: 1px;
  background-color: white;
  text-align: center;
  left: 40%; }

.logoHRWhite::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(10% - 30px);
  top: 50%;
  height: 1px;
  background-color: white;
  text-align: center;
  right: 40%; }

/*# sourceMappingURL=main.css.map */
