// sass --watch main.scss:main.css
$primaryColor: rgb(252, 68, 69);
$secondaryColor: #3feee6;
$tertiaryColor: rgb(85, 188, 201);
$quaternaryColor: #97caef;
$quinaryColor: #cafafe;
$pinterest: #c8232c;
$one: #272727;
$two: rgba(116, 116, 116, 0.8);
$three: #ff652f;
$four: #ffe400;
$five: 14a76c;
$purple: #78244c;
$beta: #5c2028;
// $charlie: #c8232c;
$charlie: rgb(253, 28, 21);
$shadow: rgba(163, 163, 163, 0.5);

$on426: 426px;
$on576: 576px;
$on768: 768px;
$on856: 856px;
$on960: 960px;
$on1080: 1080px;

@mixin imgPosition {
    height: 650px;
    background-position: center center;
    width: 100%;
    background-size: cover;
    @media screen and (max-width: $on856) {
        min-height: 500px;
        height: auto;
    }
    @media screen and (max-width: $on768) {
        min-height: 400px;
        height: auto;
    }
    @media screen and (max-width: $on576) {
        min-height: 300px;
        height: auto;
    }
  
}
@mixin Shadow {
    -webkit-box-shadow: 2px 4px 13px 0px $charlie;
    -moz-box-shadow: 2px 4px 13px 0px  $charlie;
    box-shadow: 2px 4px 13px 0px  $charlie;    
}

body {
    width: 100%;
    min-width: 270px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; // font-family: 'Josefin Sans', sans-serif;
    // font-family: 'Sunflower', sans-serif;
}

.container-fluid {
    position: relative;
    width: 100%;
    padding: 0px;
    .imageContainer {
        height: auto;
        max-height: 650px; 
        position: relative;
        #slides {
            width: 100%;
            max-height: 650px;
        }
    }
}

.imgOne {
    background: url('./photos/slike/moleculesPSed.jpg');
    @include imgPosition();
    background-position: center 45%;
}

.imgTwo {
    background: url('./photos/slike/legosPSed.jpg');
    @include imgPosition();
    background-position: center 75%;
    
}

.imgThree {
    background: url('./photos/slike/peach.jpg');
    @include imgPosition();
}

.imgFour {
    background: url('./photos/slike/flowerPSed.jpg');
    @include imgPosition();
}

.imgFive {
    background: url('./photos/slike/textilePSed.jpg');
    @include imgPosition();
    background-position: center 60%;
}

.imgSix {
    background: url('./photos/slike/vials.jpg');
    @include imgPosition();
}
.imgSeven {
    background: url('./photos/slike/houseChem.jpg');
    @include imgPosition();
}
.carousel-indicators {
    position: relative;
    z-index: 1;
    bottom: 0px;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    :nth-child(1) {
        border-radius: 0px 0px 0px 7px;
    }
    :last-child {
        border-radius: 0px 0px 7px 0px;
    }
    li {
        background-color: white;
        // opacity: 0.8;
        height: 60px;
        width: 150px;
        color: black ;
        font-size: 13px;
        margin: 0;
        vertical-align: middle;
        display: inline-block;
        padding: 7px;
        box-sizing: border-box;
        z-index: 1;
        
    }
    @media screen and (max-width: $on768) {
        height: 50px;
        margin-top: 20px;
        z-index: 1;
        li {
            height: 20px;
            padding: 0px;
            text-indent: -1999px;
            width: 20px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: gray;
            z-index: 1;
        
            
        }
        :nth-of-type(1) {
            border-radius: 50%;
        }
        :nth-of-type(7) {
            border-radius: 50%;
        }
    }
}

.carousel-indicators .active {
    background-color: $charlie;
    color: white;
}
.die {
    display: none !important;
}

//                  HEADER                    //
.overlay {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    background-color: transparent; // overflow: hidden;
    width: 100%;
    height: 0px;
    transition: 1.5s ease;
    a {
        img {
            width: 50px;
            height: 50px;
        }
        .logoText {
            position: absolute;
            width: 0px;
            height: 50px;
        }
        .logoText-active {
            width: 140px;
            transition: 1s ease;
        }
    }
    i {
        display: none;
    }
}

.overlay-active {
    bottom: 0;
    height: 150px;
    transition: 1s ease;
    #text {
        div {
            display: inline-block;
        }
        a {
            text-align: center;
            padding: 5px 0px 5px 0px;
            list-style: none;
            display: inline-block;
            margin: 0 14px;
            font-size: 0.9em;
            text-decoration: none;
            color: white;
            vertical-align: middle;
            z-index: 100;
            
        }
        .options {
            display: inline-block;
            margin-left: 160px;
            border-top: 1px solid rgb(212, 212, 212);
            border-bottom: 1px solid rgb(236, 236, 236);
            z-index: 100;
            
        }
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute; // overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%,
        -50%);
        -ms-transform: translate(-50%,
        -50%);
    }
}

.overlay #text {
    @media screen and (max-width: $on960) {
        width: 100%;
        div {
            float: none;
            display: block;
        }
        a {
            float: none;
        }
        .options {
            width: 0px; 
            margin: 0px;
            z-index: 1000;
            a {
                display: none;
            }
        }
        
        .options-responsive {
            position: absolute;
            top: 75px;
            display: block;
            width: 100%;
            text-align: center;
            float: none;
            margin: 0px !important;
            transition: 1s ease; 
            z-index: 10000;
            a {
                display: block;
                width: 100%;
                margin: 0px;
                padding: 15px 0px;
                background-color: $one;
                opacity: 0.8;
                box-sizing: border-box;
            }
        }
        #target {
            display: inline-block;
            position: absolute;
            right: 5;
            top: 5;
            vertical-align: middle;
            font-size: 1.7em;
            border: 1px solid white;
            padding: 3px 8px;
            border-radius: 3px;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $one;
    opacity: 0.8;
    height: 100px;
    z-index: 10000;
}
.optionsBorder {
    border: 0px !important;
}
//                  MAIN                    //
.mainSection {
    text-align: center;
    p {
        margin-top: 20px;
    }
    ul {
        width: 50%;
        margin: 0 auto;
        text-align: left;
        list-style-type: none;
        li {
            padding: 4px;
        }
        i {
            color: $charlie;
            margin-right: 4px;
        }
        @media screen and (max-width: $on576) {

            width: 80%;
            margin: 0px auto 10px auto;
            li {
                font-size: 0.9rem;
            }

        }

    }
    
}
#breaker {
    margin-top: 80px;
}

//          NEWS            //

#newsCover {
    background: url('./photos/slike/bubbles.jpg');
    box-shadow: inset 200px 200px 20px 1000px rgba(31, 31, 31, 0.8);    
    
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    margin-top: 50px;
    h1, h2 {
        color: white;
        margin-top: 25px;
    }
    .expandNews {

        height: auto !important;
        max-height: 1400px !important;
        overflow: visible !important;
        transition: max-height 1s ease;
    }
}
#feed {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height: auto;

    .col-sm-6 {
        -ms-flex: 0 0 calc(50% - 40px);
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);

        @media screen and (max-width: $on856) {
            -ms-flex: 0 0 55%;
            flex: 0 0 55%;
            max-width: 55%;
        }
        @media screen and (max-width: $on576) {
            -ms-flex: 0 0 80%;
            flex: 0 0 80%;
            max-width: 80%;
        }

    }

    .newsDiv {
        height: auto;
        max-height: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 20px;
        display: inline-block;
        background-color: rgba(219, 219, 219, 0.8);
        border-radius: 3px;
        box-sizing: border-box;
        transition: max-height 1s ease;
        margin: 20px;
        vertical-align: top;
        
        i {
            display: none;
        }
        h2 {
            border-bottom: 1px solid white;
            padding-bottom: 10px;
        }
        .dateSpan {
            text-align: left;
            display: inline-block;
            color: $charlie;
        }
        p {
            text-align: left;
            width: calc(100% - 25px);
            
        }
        .storyContent {
            width: 100%;
            
        }
        @media screen and (max-width: $on856) {
            display: block;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width: $on1080) {

        width: 100%;
        display: block;
    }
    
    @media screen and (max-width: $on856) {
        width: 100%;
        display: block;
    }
}


//                  PRODUCTS                    //

.productCover {

    background: url('./photos/slike/mecha.jpg');
    @include imgPosition();
    height: 550px;
    background-position: center 85%;
    
}
.productsWrap {
    background-color: #d7cec7;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
    
    h1 {
        color: black;
        margin: 0px;
    }
    .logoHR {
        margin: 0px;
    }
}
.selection {
    width: 90%;
    margin: 40px auto 50px auto;
    
    #mainProducts {
        width: 100%;
        margin: 0 auto;
    }
    .Item {
        width: 15%;
        display: inline-block;
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px; // height: 300px;
        overflow: hidden; // border: 1px solid black;

        .tester1 {
            border-radius: 8px; 
            opacity: 1;
            transition: .5s ease;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 160px;
        }
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    .additionalProducts {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        .Item {
            margin: 0 auto;
        }
    }
}
.overlay #text .options .catalogue {
    display: none;
    background-color: rgba(155, 155, 155, 0.7);
    width: 400px;
    height: auto;
    position: absolute;
    top: 50px;
    right: 110px;
    box-sizing: content-box;

    
    
    ul {
        margin: 0;
        padding: 10px;
        // width: 40%;
        display: block;

        @media screen and (max-width: $on960) {

            position: absolute;
            top: 178px !important;
            width: 100% !important;
            right: 0px;
            padding: 0px;
            a {
                color: white !important;
            }

        }

        @media screen and (max-width: $on856) {
            position: absolute;
            width: 100% !important;
            padding: 0px;
            display: block;
            top: 178px;
            right: 0px;
            height: auto;
            a {
                color: white !important;
            }
        }

    }
    .productList {

        display: block;
        text-align: center;
        font-size: 0.8rem;
        width: auto;
        
        a {
        color: rgb(46, 46, 46);
        padding: 7px 0px 7px 0px;
        
            
        }
    }
}
.triggerDrop {

    margin-bottom: 0px !important;
    @media screen and (max-width: $on960) {
    margin-bottom: 193px !important;
    }
}
.show {
    display: block !important;
    transition: all 0.5s ease;
    right: 0px;
    
    a {
        width: auto;
        right: 0px;
        
    }
    // :last-child {
    //     border-bottom: 1px solid white;
    // }

    @media screen and (max-width: $on960) {
        position: absolute;
        width: 100% !important;
        display: block;
        right: 0px !important;
        a {
            width: 100px;
            border-bottom: 1px solid white;
        }
    }
}
.redBorder {
    border-bottom: 1px solid red !important;
}
.dropSpace {

    top: 80px !important;
    background-color: rgba(95, 95, 95, 0.9) !important;
    a {
    color: white !important;
    }
    

    @media screen and (max-width: $on960) {
        top: 50px !important;
    }
}

.cataloguePhoto {
     width: calc(100% - 40% - 20px);
     padding: 10px;
     vertical-align: initial;
}

#output {
    position: relative;
    color: white;
    box-shadow: inset 200px 200px 20px 1000px rgba(31, 31, 31, 0.8);    
    background-image: url("./photos/slike/cookie.jpg");
    background-position: center center;
    background-size: cover;
    height: auto;
    a {
        color: white;
        
    }
    .subProductDiv {
        display: flex;
        padding: 10px 0px 0px 0px;
        justify-content: space-evenly;
        text-align: center;

        .subGroups {
            padding: 15px;
            margin: 25px 0px 10px 0px;

            @media screen and (max-width: $on960) {
                padding: 5px;
                font-size: 0.8rem;
                margin: 10px 0px 10px 0px;
            }
        }
        .subGroupsActive {
            border-bottom: 1px solid $charlie;
            padding-bottom: 7px;

            @media screen and (max-width: $on960) {

                padding: 15px 0px 15px 0px;
                border-top: 1px solid $charlie;
                border-bottom: 1px solid $charlie;
                background-color: rgba(253,28,21,0.2);

            }
        }

        @media screen and (max-width: $on960) {
           display: block;
        }
    }
    .productListDiv {

        padding: 15px;
        margin-left: 80px;

        p {
            margin: 0px;
            font-size: 0.9rem;
        }

        .singleProduct {
            padding: 15px;
            margin: 20px 0px 20px 0px;
            border: 1px white solid;
            width: 500px;
            height: auto;
            max-height: 150px;
            overflow: hidden;
            position: relative;
            transition: height 0.8ms ease;

            .productName {
                border-bottom: 1px solid white;
                padding-bottom: 10px;
                display: flex;

                p {
                    width: 100%;
                    display: inline-block;
                }
                i {
                    display: none;
                    font-size: 0.95rem;
                    vertical-align: middle;
                    padding: 5px;
                    color: $charlie;
                }
            }

            .productDescription {
                padding: 10px 20px 0px 0px;
                width: 80%;
                display: inline-block;

            }
            .productPicture {
                display: inline-block;
                width: 20%;
                padding-top: 10px;
                vertical-align: top;
                img {
                    width: 100%;
                    padding: 20px;
                    
                }
            }
            
            @media screen and (max-width: $on960) {
                display: block;
                width: 60%;
                margin: 10px auto 10px auto;
                padding: 15px;
                border: 1px solid white;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                border-radius: 0px;
                text-align: center;


                .productPicture { 
                    
                    img {
                        max-width: 100px;
                        max-height: 100px;
                    }
                }
            }
            @media screen and (max-width: $on856) {
                width: 70%;
            }
            @media screen and (max-width: $on576) {

                width: 90%;

                .productDescription {
                    width: 70%;
                }

                .productPicture { 

                    width: 30%;

                    img {
                        max-width: 80px;
                        max-height: 80px;
                    }
                }
            }
        }
       
        .expandProduct {

            height: auto;
            max-height: 500px;
            overflow: visible;
            transition: max-height 1s ease;
        }
        
        i {
            float: right;
            vertical-align: middle;
            font-size: 1.5rem;
        }
        @media screen and (max-width: $on960) {
            display: block;
            width: 100%;
            margin: 30px 0px 0px 0px;
            padding-bottom: 10px;
        }

    }
    #paginator {

        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        border-top: 1px solid gray;
        padding-top: 7px;
        vertical-align: middle;

        .paginationPreviousNext {

            margin: 0px 15px;
            padding-top: 5px;
         
        }

        .paginationButton {
            margin: 0px 7px;
            width: 35px;
            height: 35px;
            padding: 3px 0px 0px 0px;
            
            a {
                font-size: 1.1rem;
                vertical-align: bottom;
            }
        }
        .pageActive {
            border-radius: 50%;
            border: 1px solid $charlie;
            background-color: rgba(253, 28, 21, 0.4);
        }

        @media screen and (max-width: $on576) {

            height: auto;
            flex-wrap: wrap;
        }
    }
}
.readMore {
    width: 25px;
    height: 25px;
    position: relative;
    padding: 3px;
    background-color: rgba(219, 219, 219, 0.8);
    border-radius: 50%;
    text-align: center;
    font-size: 0.95rem;
    vertical-align: middle;
    padding: 5px;
    color: $charlie;
    
}
.readMore:hover {

    cursor: pointer;
}
.mainContainer {
    display: flex;
    justify-content: center;
    background-color: #d7cec7;
    @media screen and (max-width: $on960) {
        display: block;
        margin: 0px;
    }

}
.mainList {

    padding: 20px;
    border: 1px solid $two;
    background-color: $two;
    margin: 20px 1px 0px 1px;
    width: auto;
    min-width: 160px;
    text-align: center;
    border-radius: 3px 3px 0px 0px;

    a {
        color: white;
        text-decoration: unset;
    }
    @media screen and (max-width: $on960) {
        display: block;
        margin: 0px;
        border: none;
        border-radius: 0px;
        padding: 10px;
        
    }
} 
.mainListActive {
    border: 1px solid $pinterest;
    background-color: $pinterest;
}
.grayScale {
    height: 20px;
    background-color: #d7cec7;
    
}

//                  ABOUT PAGE                 //
h1 {
    text-align: center;
    margin-top: 20px;
}

.aboutText {
    width: 100%;
    height: auto;
    // TO BE OR NOT TO BE 

    background: url('./photos/slike/employees.jpg');
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    box-shadow: inset 200px 200px 20px 1000px rgba(73, 73, 73, 0.6);    
    background-size: cover;
    padding: 30px;
    h1 {
        margin-top: 40px;
    }
    .aboutParagraph {
        width: 60%;
        margin: 0 auto;
        padding: 35px 35px 0px 35px;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        box-sizing: content-box;
        p {
            margin: 0px;
        }
        .markerSolid {
            height: 1px;
            width: 30%;
            margin: 0 auto;
            border-top: 1px solid $charlie;
            margin-top: 35px;
        }
        
    }
    .aboutParagraph:last-of-type {
        padding-bottom: 35px;
    }
    
}

.aboutCover {
    // TO BE OR NOT TO BE 
    
    background: url('./photos/slike/aboutPagePSed.jpg');
    background-size: cover;
    background-position: center;
    height: 550px;
    position: relative;

    .aboutCoverText {
        position: absolute;
        bottom: 10px;
        width: 100%;

        .quoteWrap {

            background-color: rgba(204, 204, 204, 0.6);
            padding: 10px;
            height: 250px;
            margin-bottom: 60px;

            p {
                width: 400px;
                margin: 0 auto;
                font-family: 'Caveat';
                font-size: 1.7rem;
                margin-bottom: 90px;

                @media screen and (max-width: $on426) {
                    font-size: 1.3rem;
                    width: auto;
                }
            }
            span {
                font-family: 'Caveat';
                font-size: 1.5rem;
                text-align: right;
                float: right;
            }
        }
    }
}

.aboutUsWrap {
    background-color: #d7cec7;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
    
    h1 {
        color: black;
        margin: 0px;
    }
    .logoHR {
        margin: 0px;
    }
}


//                  PARTNERS                    //
.PartnersWrap {

    background-color: #d7cec7;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
    
    h1 {
        color: black;
        margin: 0px;
    }
    .logoHR {
        margin: 0px;
    }

}
.partnersCover {

    background: url('./photos/slike/partnersPSed.jpg');
    background-position: center;
    background-size: cover;
    height: 550px;
    position: relative;

}
.partnersMain {
    background: url('./photos/slike/fan.jpg');
    box-shadow: inset 200px 200px 20px 1000px rgba(53, 53, 53, 0.6);    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    width: 100%;
    
}
.partners {

    width: 80%;
    padding: 20px;
    margin: 0 auto;

    .partnerWrap {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        height: 250px;
        overflow: hidden;
        max-height: 250px;
        margin-top: 20px;
        padding: 20px;

        .alignImage {
            width: 49%;
            display: inline-block;
            height: 100%;
            vertical-align: top;
            padding-right: 20px;
            img {
                width: 100%;
                vertical-align: middle;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            @media screen and (max-width: $on960) {
                display: block;
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                padding-right: 0px;

                img {
                    top: 0px;
                    transform: none;
                    vertical-align: unset;
                }
            }
        }
        .alignText {
            display: inline-block;
            height: 100%;
            padding-left: 20px;
            width: 49%;
            p {
                margin: 0px;
                max-height: 165px;
                overflow: hidden;
            }
            .optionsPartners {
                height: 50px;
                display: flex;
                justify-content: space-between;

                span {
                    position: relative;
                    top: 50%;
                }
            }
            @media screen and (max-width: $on960) {

                display: block;
                width: 100%;
                height: auto;
            }
        }
        .expandPartners {
            p {
                overflow: visible;
            }
        }
        @media screen and (max-width: $on960) {
                
            width: 100%;
            height: auto;
            max-height: none;
        }
    }
}

//                  CONTACT                    //
.imageContainer {
    max-height: 400px;
}

.contactCover {
    background: url('./photos/slike/contact.jpg');
    @include imgPosition();
    background-position: center 65%;
}

.locations {
    width: 90%;
    text-align: center;
    margin: 0 auto;

    h2 {
        margin-top: 20px;
    }

    @media screen and (max-width: $on576) {
        
        iframe {
            height: auto;
            width: auto; 
            max-height: 500px;
            max-width: 500px;
        
        }
        .col-12 {
            padding: 0px;
        }
        
    }

    
}
.mailWrap {
    background: url('./photos/slike/dandelion.jpg');
    box-shadow: inset 200px 200px 20px 1000px rgba(31, 20, 20, 0.6);    
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-top: 30px;
    
    h2, p {
        text-align: center;
        color: white;
        
    }
   
}
.formMail {
    width: 380px;
    box-sizing: border-box;
    // margin: 0 auto;
    padding: 0px;
    color: white;
    label {
        width: 20%;
        margin: 0px;
    }
    .nameEmailInput {
        margin-bottom: 10px;
        // margin-left: 30px;
        width: 80%;
        padding: 3px;
        background: transparent;
        border: 0px;
        border-bottom: 1px solid $charlie;
        color: white;

    }
    textarea{
        margin-top: 10px;
        width: 100%;
        border: 1px solid $charlie;
        border-radius: 2px;
        background: transparent;
        box-shadow: inset 200px 200px 20px 1000px rgba(95, 95, 95, 0.3);   
        color: white;
         
        
    }
    .button {
        margin: 25px 0px;
        background-color: $charlie;
        padding: 10px;
        border: 0px;
        border-radius: 3px;
        color: white;
        text-align: right;
        margin-left: calc(100% - 72px);
        -webkit-box-shadow: 1px 1px 4px 2px rgba(250, 250, 250, 0.6);
        -moz-box-shadow: 1px 1px 4px 2px rgba(250, 250, 250, 0.6);
        box-shadow: 1px 1px 3px 1px rgba(250, 250, 250, 0.6);
        transition: all 0.2s ease;
        
    }
    .button:hover {
        cursor: pointer;
        box-shadow: unset;
        transition: all 0.2s ease;
        
    }
    @media screen and (max-width: $on426) {
        width: 260px;
    }
}

//                  FOOTER                    //
.footer {
    // background: url('./photos/slike/footerimage.jpg');
    box-shadow: inset 200px 200px 20px 1000px rgba(63, 63, 63, 0.7);    
    background: url('./photos/footerImageGray.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // margin-top: 30px;
    width: 100%;
}

.footImage {
    width: 100%;
    height: 100px;
    text-align: center;
    position: relative;
    display: inline-block;
    
    .iconFullLogo {
        width: auto;
        max-width: 280px;
        margin-top: 10px;
        @media screen and (max-width: $on960) {
            display: none;
        }
    }
   
    .iconPic {

        width: 80px;
        height: 80px;
        display: none;
        margin-top: 10px;

        @media screen and (max-width: $on960) {
            
                display: inline-block;
        }
        @media screen and (max-width: $on576) {
            
            display: inline-block;
            width: 50px;
            height: 50px;
            position: relative;
            top: calc(50% - 25px);
            margin: 0px;
    }
    }
}

.footImage::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 150px;
    top: 50%;
    height: 1px;
    left: calc(50% - 320px);
    background-color: white;
    text-align: center; 
}

.footImage::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 150px;
    top: 50%;
    height: 1px;
    right: calc(50% - 320px);
    background-color: white;
    text-align: center;
}
.footerContent {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $on960) {
            width: 80%;
    }
    @media screen and (max-width: $on576) {
        width: 100%;
    }
}


.footerLinks {
    text-align: center;
    padding: 0px;
    display: inline-block;
    width: 280px;
    vertical-align: top;
    margin: 0 auto;
    a {
        color: white;
        font-size: 1rem;
        line-height: 19px;
    }
    ul {
        list-style-type: none;
        padding: 0px;
        li {
            margin: 4px 0px;
        }
    }
    @media screen and (max-width: $on960) {
            
        display: inline-block;
    }
}

.footerContacts {
    box-sizing: border-box;
    padding: 0px;
    display: inline-block;
    width: 200px;
    margin: 0 auto;
    color: white;
    
    a {
        color: $charlie;
    }
    i {
        padding-right: 7px;
    }
    p {
        font-size: 0.7rem;
        margin-bottom: 4px;
    }
    div {
        width: 100%;
        margin: 0 auto ;
        // overflow: hidden;
    }
    h6 {
        text-align: left;
        text-indent: 20px;
    }
    h6:last-of-type {
        margin-top: 20px;
    }
    
}
.Copyright {
    text-align: center;
    margin-top: 30px;
    p {
        margin: 0px;
        color: white;
    }
}

//                  GENERAL                    //

p {
    cursor: default;
}
.Item:hover .tester1 {
    opacity: 0.3;
}

.Item:hover .middle {
    opacity: 1;
}
a {
//     // color: white;
    text-decoration: unset;
}
a:hover {
    text-decoration: unset;
}
h1, h2, h3, h4 :hover {

    cursor: default;
}
.logoHRWhite {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 29px;
    margin-bottom: 12px;
    
    img {
        width: auto;
        max-width: 30px;
        // margin-top: 10px;
    }
}
.logoHR {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    
    img {
        width: auto;
        max-width: 30px;
        // margin-top: 10px;
    }
}
.logoHR::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: calc(10% - 30px);
    top: 50%;
    height: 1px;
    background-color: black;
    text-align: center;
    left: 40%;
    
}
.logoHR::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: calc(10% - 30px);
    top: 50%;
    height: 1px;
    background-color: black;
    text-align: center;
    right: 40%;
}
.logoHRWhite::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: calc(10% - 30px);
    top: 50%;
    height: 1px;
    background-color: white;
    text-align: center;
    left: 40%;
    
}
.logoHRWhite::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: calc(10% - 30px);
    top: 50%;
    height: 1px;
    background-color: white;
    text-align: center;
    right: 40%;
}




.wrapper-dropdown-5 {
    /* Size & position */
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 12px 15px;
    


    /* Styles */
    // background: gray;
    background: transparent;
    color: $charlie;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
    

    i {
        font-size: 42px;
        width: 40px;
        height: 40px;
        @include Shadow;
        border-radius: 50%;
        text-align: center;
        
    }

    
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    padding: 0px;
    text-align: center;

    /* Styles */
    background: lightgray;
    border-radius: 10px;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.1s ease-out;
    font-size: 0.7rem;

    /* Hiding */
    max-height: 0;
    overflow: hidden;

}
.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
    margin: 0px 0px;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0;
    transition: all 0.2s ease-out;
    border-bottom: 1px solid white;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
    float: left;
    margin-top: 5px;
}
.wrapper-dropdown-5.active {
    // background: gray;
    box-shadow: none;
    border-bottom: none;
    color: $charlie;
}
.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
    // @include Shadow
}
.wrapper-dropdown-5 .dropdown li a:hover {
    color: $charlie;
}
.invisibleCircle {
    display: none;
}